body h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    color: #2A1E59;
    margin: 0;
}
body p{
    font-family: 'Roboto', sans-serif;
}

/* Common CSS starts here*/
.head-container {
    display: flex;
    margin: 0 auto;
}
.btn-color{
    background-color: #DD0000;
    padding: 10px 35px;
    border-radius: 6px;
    color: #fff;
    width: 185px;
    height: 40px;
    cursor: pointer;
    font-size: 12px;
    transition: .5s linear;
}
.btn-color:hover{
    background: indigo;
}
.btn-color a {
    text-decoration: none;
    color: white;
}
.btn-general a {
    text-decoration: none;
    color: red;
}
.btn-general{
    padding: 10px 25px;
    border-radius: 6px;
    color: red;
    /* opacity: 0.7; */
    width: 185px;
    height: 40px;
    cursor: pointer;
    font-size: 12px;
    transition: .5s linear;
}
.btn-general:hover{
    background: indigo;
}
.view-btn{
    text-align: center;
    padding-bottom: 50px;
}

/* Common CSS ends here */

/* Navbar css starts here */
#topnav {
    overflow: hidden;
    background-color: black;
    margin-bottom: 8px;
    border-radius: 8px;
    position: sticky;
    top: 0;
  }
  
  #topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #topnav a:hover {
    background-color: indigo;
    color: white;
  }
  
  #topnav a.active {
    background-color: red;
    color: white;
  }
/* Navbar css ends here */

/* Banner starts here */
#banner{
    background: #161616;
    width: 1000px;
    margin: 0 auto;
    border-radius: 15px;
    height: 450px;
    transition: all linear .5s;
}
#banner:hover{
    background: gray;
}
#banner img{
    width: 425px;
}
.left-content {
    padding-left: 40px;
}
.left-content h1{
    color: #ffff;
    font-size: 50px;
}
.left-content p{
    color: #ffff;
}
.left-content .trial {
    color: red
}
.right-content{
    transition: width 1s, height 1s, transform 3s;
}
.right-content:hover{
    transform: rotate(360deg);
}

/* Banner ends here */

/* Blog starts here */
#blog-container{
    width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
}
.detail-section{
    width: 200px;
    height: 200px;
    background: #161616;
    border-radius: 15px;
    padding-left: 25px;
    padding-top: 25px;
    transition: .5s linear;
    color: white;
}
.detail-section:hover {
    opacity: 0.7;
}
.blog-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
.single-blog {
    height:320px;
    border: 1px solid gray;
    margin: 0 10px 10px 10px;
    border-radius:10px;
}
.single-blog p span{
    padding-right: 25px;
}
.single-blog img {
    width: 250px;
    height: 150px;
}
.blog-inside{
    padding-left: 15px;
}
.country-blog .flag {
    width: 25%;
    height:25%;
    padding-left: 20px;
    padding-right: 20px;
}


.country-blog{
    height:180px;
    border: 1px solid gray;
    /* padding:5px; */
    margin: 0 10px 10px 10px;
    border-radius:10px;
    text-align: center;
}
/* Blog ends here */
/* Goal section starts here */
#goal-section{
    width: 100%;
    height: 200px;
    background: #161616;
    text-align: center;
    padding: 40px 0;
    transition: .5s linear;
    border-radius: 15px;
}
#goal-section:hover {
    opacity: 0.7;
}
#goal-section h1, a {
    color: white;
    text-decoration: none;
    padding-right: 25px;
    transition: .5s linear;
}
#goal-section a:hover {
    color: red;
}

hr{
    width: 80%;
    
}
/* Goal section ends here */
/* Footer starts here */
.footer{
    text-align: center;
}

.social-network {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-right: 10px;
}

ul li a span{
    font-size: 15px;
    transition: all linear .5s;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: red;
    color: white;
}
 ul li a span:hover{
    color: red;
    text-align: center;
    background: black;
}
/* Footer ends here */

/* Responsive CSS */
/* For Mobile device */
@media only screen and (max-width: 688px){
    #blog-container{
        padding-top: 0;
        display: flex;
        flex-direction: row;
        padding-top: 40px;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .blog-section{
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }
    .detail-section{
        display: flex;
        background: black;
        height: 230px;
        flex-direction: column;
    }
    .head-container{
        
        flex-direction: column;
        /* justify-content: center;
        width: 100%;
        height: 100% */
    }
    .left-content {
        padding-top: 10px;
    }
    .left-content h1, p{
        font-size: 15px;
        /* text-align: center; */
    }
    #banner {
        width: 500px;
        height: 300px;
    }
    #banner img{
        display: none;
    }
    .single-blog{
        height: 300px;
        width: 250px;
    }
    #goal-section {
        height: 130px;
    }
    .country-blog .flag {
        width: 15%;
        height:15%;
        /* padding-left: 20px;
        padding-right: 20px; */
    }
    .country-blog{
        height:150px;
        width: 200px;
    }
}